@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.fa-bars{
        font-size: 20px;
        color: #FFFF00;
 }

.navbar{
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color:#fff;
    font-size: 1.1rem;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.logo{
    margin-right:50px; 
}

.logo-img{
    width: 150px;
    padding:0 1rem;
}

.list{
    margin:0 2rem;
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
    .navbar label{
        display: none;
    }

.info{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(70deg, #1C3E77,#2061A4);

}

.container-1,.container-2{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1%;
}

.container-2{
    
    color: #FFFF00;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parrafo-1{
    font-size: 1.3rem;
    padding: 1rem;
    margin: 1rem;
}

.estrella{
    width: 70%;
}

.contratar{
    font-size: 1.3rem;
    width: 50%;
    background-color:black;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 0.5rem;
    font-weight: bold;
}

.titulo{
    font-size: 5rem;
    text-align: center;
    margin: 5% 0;
}
.detalle{
    font-size: 1.5rem;
    display:flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    margin: 5% 0;
}
.imagen{
    height: 25vh;
}

.imagen img{
    object-fit: contain;
    height: 80%;
}

.detalle .informacion{
    font-size: 0.9rem;
    padding:7%;
    text-align: justify;
    margin: 1%;
}

.detalle .subtitulo{
    height: 15vh;
    text-align: center;
    font-size: 2rem;
}

.descripcion{
    width: 30vw;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 90%;
    margin: 1rem;
}

.card{
    width: 30%;
    border:0.2rem solid #1C3E77;
    border-radius:1rem;
    margin:0 0.7rem;
    background-color: #2061A4;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.cards .card{
    transition: all ease-in-out 0.5s
}

.cards:hover .card{
    filter: blur(15px);
    transform: scale(0.9);
    opacity: 0.5;
}

.cards .card:hover{
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
    cursor: pointer;
}
.guardias{
    margin: 0.5rem;
    height:45vh;
    text-align: center;
}
.personajes{
    font-size: 1.5rem;
    margin: 0.5rem 0;
    text-align: center;
}
.robots{
    object-fit:contain;
    height: 35vh;
}

.descripcion{
    text-align: justify;
    width: 90%;
    font-size:1rem;
    margin: 1rem;
}

@media screen and (max-width:800px){

    .navbar{
        width: 100vw;
    }
    .menu{
        width: 100%;
        max-height:0;
        overflow: hidden;
    }

    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked~.menu{
        max-height: 100%;
    }

}

@media(max-width:700px){

    .parrafo-1{
        font-size:90%;
        margin: 1%;
    }

    .contratar{
        font-size: 1rem;
        width: 50%;
    }

    .container-1{
        width: 80vw;
    }

    .container-2{
        width: 80vw;
    }
    .info{
        height: 80vh;
        flex-wrap: wrap;
    }
    .estrella{
        width:60%;
    }

    .detalle{
        flex-wrap: wrap;
    }

    .detalle .subtitulo{
        height: 8vh;
        font-size:1.5rem ;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .informacion{
        font-size: 0.3rem;
        margin: 1%;
    }

    .card{
        width: 70%;
        margin: 1rem 0;
    }
    .guardias{
        height: 20vh;
    }
    .robots{
        height:20vh ;
    }

    .imagen{
        height: 15vh;
    }

    .imagen img{
        height:100%;
    }

    .titulo{
        font-size: 3rem;
    }
}

@media(max-width:450px){

    .titulo{
        font-size: 2rem;
    }
    .parrafo-1{
        font-size:80%;
        margin: 1%;
    }
    .contratar{
        font-size: 80%;
        width: 70%;
    }

    .estrella{
        width: 80%;
    }
}